---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.archive__item-title a {
  text-decoration: none;
}
.archive__item-title a:hover {
  text-decoration: underline;
  color: $link-color-hover;
}

.talk_date {
  color: $muted-text-color;
  font-size: $type-size-7;
}

.talk_venue {
  font-size: $type-size-7;
}

.travel_date {
  color: $muted-text-color;
  font-size: $type-size-7;
}

.travel_venue {
  font-size: $type-size-7;
}

.small_grey {
  font-size: .75em;
}

.cv_font {
  font-size: $type-size-6;
}

.publication_date {
  color: $muted-text-color;
  font-size: $type-size-7;
}

.publication_authors {
  font-size: $type-size-6;
}

.publication_title {
  text-decoration: none;
  color: $text-color;
  font-size: $type-size-4;
}

.publication_title:hover {
  color: $link-color-hover;
  font-size: $type-size-4;
  text-decoration: underline;
}

.publication_venue {
  font-size: $type-size-7;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.fa-user-circle.avatar {
  color: $dark-gray;
}
