---
layout: default
classes: wide
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">

      <!-- Header-->
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.typeset_title %}
          <h1 id="page-title" class="page__title" itemprop="headline">{{ page.typeset_title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          {% elsif page.title %}
          <h1 id="page-title" class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
          {% endif %}
          {% if page.read_time %}
            <p class="page__meta"><i class="far fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
        </header>
      {% endunless %}
      
      <!-- Author List -->
      {% if page.authorlist %}
      <p class="publication_authors">{{ page.authorlist | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% elsif page.authorlist_long %}
      <p class="publication_authors">{{ page.authorlist_long | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      
      <!-- Handle link -->
      {% if page.doi And page.doi != "" And page.doi != nil %}
      <p class="publication_date"><i class="ai ai-doi ai-fw" aria-hidden="true"></i><strong>doi:</strong><a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a></p>
      {% endif %}
      {% if page.hdl And page.hdl != "" And page.hdl != nil %}
      <p class="publication_date"><span class="fa-layers fa-fw" style="background:MistyRose"><i class="fas fa-certificate"></i><span class="fa-layers-text fa-inverse" data-fa-transform="shrink-11.5 rotate--30" style="font-weight:900">NEW</span>
  </span></span><strong>hdl:</strong><a href="https://hdl.handle.net/{{ page.hdl }}">{{ page.hdl }}</a></p>
      {% endif %}
      {% if page.arxiv And page.arxiv != "" And page.arxiv != nil %}
      <p class="publication_date"><i class="ai ai-arxiv ai-fw" aria-hidden="true"></i><strong>arxiv:</strong><a href="https://arxiv.org/abs/{{ page.arxiv }}">{{ page.arxiv }}</a></p>
      {% endif %}
      {% if page.bibcode And page.bibcode != "" And page.bibcode != nil %}
      <p class="publication_date"><i class="ai ai-ads ai-fw" aria-hidden="true"></i><strong>ads:</strong><a href="https://ui.adsabs.harvard.edu/abs/{{ page.bibcode }}/abstract">{{ page.bibcode }}</a></p>
      {% endif %}
      {% if page.ascl And page.ascl != "" And page.ascl != nil %}
      <p class="publication_date"><a href="https://ascl.net/{{ page.ascl }}"><img src="https://img.shields.io/badge/ascl-{{ page.ascl }}-blue.svg?colorB=262255" alt="ascl:{{ page.ascl }}"/></a></p>
      {% endif %}

      <!--Date Line-->
      {% if page.date %}
        {% if page.publ == "false" %}
            <p class="pubplication_date">
              <strong>In Prep</strong> - This page will be udpated upon submission and publication.
            </p>
        {% else %}
            <p class="publication_date">
              <strong><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>Published:</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
            </p>
        {% endif %}
      {% endif %}
    
      <!-- Publisher -->
      {% if page.journal %}
      <p class="publication_venue"><i class="fas fa-book-open fa-fw" aria-hidden="true"></i><strong>Published in:</strong> {{ page.journal | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}
      
      <!-- Abstract -->
      {% if page.excerpt %}
      <h3 itemprop="headline">Abstract:</h3>
      <p class="page__content" itemprop="text"> {{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
      {% endif %}

      <!--Page content-->
      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.publ %}
        {% capture year %}{{ page.date | date: "%Y" }}{% endcapture %}
        <h3 itemprop="citation">Recommended Citation</h3>
        <p class="page__content" itemprop="text">
          {% if page.authorlist_long contains ";" %}
            {{ page.authorlist_long | split: "; " | first }} et al.
          {% else %}
            {{ page.authorlist_long }}.
          {% endif %}
          {% if page.page %}
            {% if page.volume != year %}
              {{ year }},
              {% if page.doi And page.doi != "" And page.doi != nil %}
                <a href="https://doi.org/{{ page.doi }}">{{ page.journal }}</a>
              {% else %}
                {{ page.journal }},
              {% endif %}
              {% if page.bibcode And page.bibcode != "" And page.bibcode != nil %}
                <a href="https://ui.adsabs.harvard.edu/abs/{{ page.bibcode }}">{{ page.volume}}, {{ page.page }}</a>
              {% else %}
                {{ page.volume }}, {{ page.page }}
              {% endif %}
            {% else %}
              {% if page.doi And page.doi != "" And page.doi != nil %}
                {% if page.bibcode And page.bibcode != "" And page.bibcode != nil %}
                  <a href="https://doi.org/{{ page.doi }}">{{ page.journal }}{{ page.date | date: "%m" }}({{ year }})</a><a href="https://ui.adsabs.harvard.edu/abs/{{ page.bibcode }}">{{ page.page }}</a>
                {% else %}
                  <a href="https://doi.org/{{ page.doi }}">{{ page.journal }}{{ page.date | date: "%m" }}({{ year }}){{ page.page }}</a>
                {% endif %}
              {% else %}
                {% if page.bibcode And page.bibcode != "" And page.bibcode != nil %}
                  <a href="https://ui.adsabs.harvard.edu/abs/{{ page.bibcode }}">{{ page.journal }}{{ page.date | date: "%m" }}({{ year }}){{ page.page }}</a>
                {% else %}
                  {{ page.journal }}{{ page.date | date: "%m" }}({{ year }}){{ page.page }}
                {% endif %}
              {% endif %}
            {% endif %}
          {% elsif page.arxiv And page.arxiv != "" And page.arxiv != nil %}
            {{ year }},
            {% if page.bibcode And page.bibcode != "" And page.bibcode != nil %}
              <a href="https://ui.adsabs.harvard.edu/abs/{{ page.bibcode }}">arXiv e-prints,</a>
            {% else %}
              arXiv e-prints,
            {% endif %}
            <a href="https://arxiv.org/abstract/{{ page.arxiv }}">arXiv: {{ page.arxiv }}</a>
          {% else %}
            "{{ page.title }}", {{ page.year }}.
            {% if page.hdl %}
              <a href="https://hdl.handle.net/{{ page.hdl }}"></a>
            {% elsif page.ascl %}
              <a href="https://ascl.net/{{ page.ascl }}"></a>
            {% endif %}
          {% endif %}
          {% if page.bibcode And page.bibcode != "" And page.bibcode != nil %}
            <br>
            <br>
            Or export the citation in many forms <a href="https://ui.adsabs.harvard.edu/abs/{{ page.bibcode }}/exportcitation">here</a>.
          {% endif %}
        </p>
        {% endif %}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn btn--primary">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

      <!-- Footer -->
      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

    </div>

  </article>

</div>
